.card {
  border-radius: 8px;
  width: 270px;
  min-height: 320px;
  cursor: pointer;
  box-shadow: 0 5px 20px 5px #00000044;
  transform: rotate3d(0);
  transition: ease-out 500ms;
}
.card:hover {
  transition-duration: 500ms;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  transform: rotate3d(5, 5, 1, 15deg);
}

.card-right {
  display: flex;
  width: 100%;
}

.card-right img {
  border-radius: 10px 10px 0px 0px;
  height: 120px;
  width: 100%;
  object-fit: cover;
  object-position: top;
}

.card-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-left p{
    padding: 0px 20px;
    padding-bottom: 10px;
    font-size: 0.85rem;
    text-wrap: balance;
}

.card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 25px;
}

.list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
