header.nav {
  padding: 0px;
  margin: 0;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 36px;
}

header.nav nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 20px 0px 20px;
  gap: 20px;
  background: rgba(255, 255, 255, 0.02);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.4px);
  -webkit-backdrop-filter: blur(9.4px);
  border: 1px solid rgba(255, 255, 255, 0.15);
}

header.nav nav a {
  padding: 15px 15px;
  font-weight: 500;
  color: #646cff;
  text-decoration: none;
  transition: color 0.2s;
}

header.nav nav a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #535bf2;
  transition: width 0.3s;
}

header.nav nav a:hover::after {
  width: 100%;
}